header .dropdown-toggle::after {
  content: none;
}

.banner {
  height: 450px;
  background-image: url(https://picsum.photos/id/35/1200/360);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
}

.banner h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.banner .search-form {
  margin: auto;
}

.banner .search-form .form-control:focus,
.banner .search-form .form-control:focus-visible {
  box-shadow: none;
}

.events-container .events {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.events-container .event-chips {
  gap: 10px;
}

.events-container,
.poster-container,
.promote-container,
.recommend-container,
.home-promote-container,
.about-container,
.feature-container,
.home-footer-container {
  margin-top: 80px;
}

.poster-container .dots-list {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 1;
}

.poster-container .dots-list .bullet {
  width: 15px;
  height: 5px;
  border-radius: 20%;
  background-color: #e7e7e7;
}

.poster-container .dots-list .bullet-active {
  background-color: #2ca33b;
}

.poster-container .next-btn,
.poster-container .pre-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: #ffffffc2;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}

.poster-container .pre-btn {
  left: 45px;
}

.poster-container .next-btn {
  right: 45px;
}

.promote-container .img-box {
  max-width: 566px;
  aspect-ratio: 556/315;
}

.promote-container .content a {
  font-size: 21px;
  color: #2ca33b;
  font-weight: bold;
  text-decoration: none;
}

.promote-container {
  overflow-x: hidden;
  background-color: bisque;
  padding: 50px 0;
}

.promote-container .promote-carousel {
  margin-top: 40px;
  overflow: unset;
}


.promote-container .promote-carousel a:hover {
  transform: translateY(-10px);
}

/* 移到企業辦公專案使用的CSS  /css/project.cc */
/* .arrow-list li {
  list-style: none;
}

.arrow-list li::before {
  content: ">";
  width: 10px;
  display: inline-block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #2ca33b;
  line-height: 10px;
  text-align: center;
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
} */

.home-promote-container .card-body {
  padding: 65px 55px;
}

.home-promote-container .img-box {
  width: 100%;
  background-image: url(https://picsum.photos/id/34/1389/835);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container .card-body {
  width: 40%;
  padding: 100px 20px 100px 100px;
}

.about-container .img-box {
  width: 100%;
  background-image: url(https://picsum.photos/id/56/1389/835);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container h2 {
  font-size: 18px;
  font-weight: bold;
}

.feature-container .icon i {
  font-size: 30px;
  color: #2ca33b;
}

.feature-container .title {
  font-size: 18px;
  font-weight: bold;
}

.home-footer-container>div {
  background-image: url(https://picsum.photos/id/66/4320/942);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e7e7e7;
  letter-spacing: .05em;
}

footer .main {
  font-size: 16px;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer h3 {
  font-size: 16px;

}

footer .sub ul {
  padding: 0;
  font-size: 15px;
  margin: 0;
}

footer .sub ul li {
  list-style: none;
  padding: 10px 0;
}


@media screen and (max-width:991px) {
  header .navbar-nav .nav-link {
    text-align: center;
  }

  .banner .search-form {
    max-width: 798px;
  }

  .banner .search-form .input-group {
    padding: 13px 12px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .banner .search-form .input-group label {
    margin-right: 5px;
  }

  .banner .search-form .form-control {
    padding: 0;
    height: 16px;
  }

  .banner .search-form button {
    width: 100%;
    padding: 15px 17px;
  }

  .home-promote-container .img-box {
    height: 200px;
  }

  .about-container .img-box {
    aspect-ratio: 1/.65;
  }

  footer .sub {
    border-bottom: 1px solid #908888;
    padding: 30px 0;

  }
}

@media screen and (min-width:768px) {
  .events-container .events {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 180px 150px;
    gap: 28px;
  }

  .events-container .events :nth-child(1) {
    grid-column: 1/3;
  }

  .events-container .events :nth-child(2) {
    grid-column: 3/5;
  }
}

@media screen and (min-width:992px) {
  .banner {
    height: 360px;
  }

  .banner .search-form {
    width: 800px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
  }

  .banner .search-form input {
    width: 100%;
    padding: 0;
  }

  .banner .search-form .input-group {
    position: relative;
  }

  .banner .search-form .input-group:not(:last-of-type):after {
    content: "";
    position: absolute;
    display: block;
    border: 1px solid #e7e7e7;
    height: 50%;
    top: 25%;
    right: 10px;
  }

  .banner .search-form button {
    width: 103px;
    min-width: 103px;
    padding: 10px 24px;
    height: fit-content;
    margin-right: 15px;
  }

  .promote-container .content {
    margin-left: 100px;
  }
}